* {
    color: aliceblue;
}

.card {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
height: 500px;
    background: linear-gradient(90deg, rgba(122, 39, 204, 1) 40%, rgba(26, 159, 209, 1) 74%);
}

.h6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 30px;
    color: black;
    width: 150px;
    height: 40px;
}

.card-2 {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(205, 87, 255, 1) 39%, rgba(227, 219, 38, 0.9640231092436975) 74%);
}

.h6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 30px;
    color: black;
    width: 150px;
    height: 40px;
}

.card-3 {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    background: linear-gradient(90deg, rgba(80, 237, 122, 1) 39%, rgba(42, 133, 221, 0.9640231092436975) 74%);
}

.h6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 30px;
    color: black;
    width: 150px;
    height: 40px;
    border-color: aliceblue;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.telegram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.plane{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rocket{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}